.header{
    background-color: #3b5998;
    width: 100%;
    height: 85px;
}body{
    margin: 0;
    font-family:Helvetica neue,Arial, Helvetica, sans-serif ;
}
.logo{
    width:50% ;
    padding-top: 32px;
    float: left;
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica neue,Arial, Helvetica, sans-serif;
    margin-left: 170px;
    
}
.login-label{
    color: #fff;
}
.login-controls{
    margin-left: 115px;
}
.login{
    padding-top: 10px;
}
.forgotten{
    color: #fff;
    font-size: 11px ;
    color: #9cb4d8;
padding-top: 3px;
cursor: pointer;
}
.submit{
    background: #4267b2;
    height: 20px;
    border-color: #29487d;
    cursor: pointer;
    color: #fff;

}
.submit:hover{
    background: blue;
}
.left-section{
    width:30% ;
    float: left;
    
}
.right-section{
    width:50% ;
    float: left;


}
.heading{   
    float: left;
margin-left: 380px;
font-family: inherit;
text-align: right;
}
.new-para{
    float: left;
    margin-left: 380px;
font-family: inherit;
text-align: right;
font-size: 19px;
	margin-top: -15px;
}

.main-body{
    background:linear-gradient(#fff,#D3D8E8);
    width:100% ;
    height: 500px;
}
.image{
    padding-left: 134px;
}
.para {
    color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
    padding-left: 134px;
    padding-top: 52px;
    font-style: inherit;
}
.account{
    float: left;
    margin-left: 380px;
    font-family: inherit;
    border-width:200px ;

}
.first-name{
height: 20px;


}
.name{
    width: 200px;
    height: 28px;
    border-radius: 5px;
    font-size: 15px;
    border-color: #fff;

}
.name2{
    width: 410px;
    height: 28px;border-radius: 7px;
    font-size: 15px;
    border-color: #fff;

}.day{ 
    height: 25px;border-radius: 7px;
    font-size: 12px;
    border-color: #fff;
    font-family: arial;

}
.month{
    height: 25px;border-radius: 5px;
    font-size: 12px;
    border-color: #fff;
    font-family: arial;

}
.year{
    height: 25px;border-radius: 5px;
    font-size: 12px;
    border-color: #fff;
    font-family: arial;
    width:80px ;

}
.birthday{
    font-size: 15px;
    font-family: inherit;
    color: lightslategrey;
    font-weight: bold;
}
     .gender{  font-size: 15px;
        font-family: inherit;
        color: lightslategrey;
        font-weight: bold;
        margin-top: 10px;

     }   
     .policy{
         font-size:11px ;
         font-style: arial;

     }
     .buttons{
        padding-left:10px;
        height: 33px;
        width: 190px;
        font-family: inherit;
        border-radius: 5px;
        font-size: 19px;
        font-weight: bold;
        background-color:rgb(89, 173, 89);
        cursor: pointer;
        color: #fff;
    
            background: linear-gradient(#67ae55, #578843);
            background-color: #69a74e;
            box-shadow: inset 0 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
        
     }
